@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

[class*=__container] {
  max-width: 1110px;
  margin: 0px auto;
}
@media (min-width: 200px), (max-width: 320px) {
  [class*=__container] {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  [class*=__container] {
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  [class*=__container] {
    padding: 0;
  }
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  cursor: default;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.catalog {
  padding: 60px 0;
}
.catalog__elements .catalog__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 60px;
}
.catalog__elements .catalog__cards .catalog__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog-card-img {
  background: #ebebeb;
  height: 180px;
  width: 100%;
  overflow: hidden;
}
.catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog-card-img img {
  display: flex;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 22px;
     object-position: 0px 22px;
  max-width: 100%;
}
.catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text {
  margin-top: 20px;
}
.catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text .catalog-title {
  color: #666666;
  font-size: 24px;
}
.catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text .catalog-amount {
  margin-top: 4px;
  color: #B5B5BD;
  font-size: 14px;
}
.catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text .catalog-description {
  margin-top: 8px;
  font-size: 16px;
  color: #85859B;
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main {
  margin-top: 30px;
  display: inline-block;
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main a .catalog-button {
  color: #7875FE;
  font-size: 20px;
  background: transparent;
  transition: 0.3s ease;
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main a .catalog-button:hover {
  color: #aaa8fe;
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main a .catalog-button:hover ~ .catalog-button-img {
  transform: translate(20px, 0);
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main a .catalog-button:hover ~ .catalog-button-img path {
  transition: 0.3s ease;
  fill: #aaa8fe;
}
.catalog__elements .catalog__cards .catalog__card .catalog__button__main a .catalog-button-img {
  transition: 0.3s ease;
  margin-top: 2px;
}

@media (min-width: 576px) {
  .catalog__elements .catalog__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .catalog__elements .catalog__cards .catalog__card .catalog__button__main {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  .catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text .catalog-title {
    font-size: 30px;
  }
  .catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text .catalog-amount {
    margin-top: 8px;
  }
  .catalog__elements .catalog__cards .catalog__card .catalog__card__main .catalog__text .catalog-description {
    font-size: 18px;
  }
}
@media (min-width: 1100px) {
  .catalog {
    padding: 90px 0;
  }
  .catalog__elements .catalog__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}