@import "./variables.scss";

.catalog {
	padding: 60px 0;

	&__elements {
		.catalog__cards {
			display: grid;
			grid-template-columns: 1fr;
			gap: 60px;

			.catalog__card {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.catalog__card__main {
					.catalog-card-img {
						background: $body-gray;
						height: 180px;
						width: 100%;
						overflow: hidden;
	
						& img {
							display: flex;
							margin: 0 auto;
							object-fit: cover;
							object-position: 0px 22px;
							max-width: 100%;
						}
					}
	
					.catalog__text {
						margin-top: 20px;
	
						.catalog-title {
							color: $gray-2;
							font-size: 24px;
						}
	
						.catalog-amount {
							margin-top: 4px;
							color: $gray-4;
							font-size: 14px;
						}
	
						.catalog-description {
							margin-top: 8px;
							font-size: 16px;
							color: $gray-3;
						}
					}
				}

				.catalog__button__main {
					margin-top: 30px;
					display: inline-block;

					& a {
						display: flex;
						align-items: center;
						gap: 5px;

						.catalog-button {
							color: $button-color;
							font-size: 20px;
							background: transparent;
							transition: $animation;

							&:hover {
								color: lighten($button-color, 10%);
							}
							
							&:hover ~ .catalog-button-img {
								transform: translate(20px, 0);
							}

							&:hover ~ .catalog-button-img path {
								transition: $animation;
								fill: lighten($button-color, 10%);
							}
						}

						.catalog-button-img {
							transition: $animation;
							margin-top: 2px;
						}
					}
				}
			}
		}
	}
}

// MEDIA
@media (min-width: 576px) {
	.catalog {
		&__elements {
			.catalog__cards {
				grid-template-columns: repeat(2, 1fr);
				gap: 30px;

				.catalog__card {
					.catalog__button__main {
						margin-top: 20px;
					} 
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.catalog {
		&__elements {
			.catalog__cards {
				.catalog__card {
					.catalog__card__main {
						.catalog__text {
							.catalog-title {
								font-size: 30px;
							}
							.catalog-amount {
								margin-top: 8px;
							}
							.catalog-description {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1100px) {
	.catalog {
		padding: 90px 0;

		&__elements {
			.catalog__cards {
				grid-template-columns: repeat(4, 1fr);
			}
		}
	}
}