@import "./variables.scss";

.footer {
	background: $gray-1;

	&__elements {
		.footer__container {
	
			.footer__main {
				padding: 20px 0;
	
				.footer-logo {
					padding: 0 0 20px 0; // padding у logo для линии
					display: flex;
					justify-content: center;
					border-bottom: 1px solid $blue-light;
				}
		
				.footer__soocies {
					margin-top: 20px;
					display: flex;
					gap: 30px;
					justify-content: center;
		
					& div {
						transition: $animation;
		
						&:hover {
							opacity: .5;
						}
					}
				}
			}
		}

		.footer__copyright {
			padding: 3px 0;
			background: $body-gray;
			display: flex;
			justify-content: center;
			width: 100%;
	
			.copyright-title {
				color: $gray-1;
				font-size: 13px;
				text-transform: uppercase;
				
				span {
					color: $gray-6;
				}
			}
		}
	}
}

// MEDIA
@media (min-width: 576px) {
	.footer {
		&__elements {
			.footer__container {
				.footer__main {
					padding: 28px 0;
					display: flex;
					justify-content: space-between;
					align-items: center;

					.footer-logo {
						padding: 0;
						border: none;
					}

					.footer__soocies {
						margin-top: 0;
					}
				}
			}
		}
	}
}