@import "./variables.scss";

.header {
	position: fixed;
	width: 100%;
	background: $body-white;
	z-index: 1;

	&__elements {
		.header__section__1__main {
			border-bottom: 1px solid $gray-8;
			padding: 10px 0;

			.header__section__1 {
				.header-logo {
					display: flex;
					justify-content: center;

					a {
						display: flex;
					}
				}

				.header__nav {
					display: none;
				}
			}
		}

		.header__section__2__main {
			border-bottom: 1px solid $gray-8;
			padding: 15px 0;

			.header__section__2 {
				.header-links-2 {
					display: none;
				}

				.header__account__2 {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.header__user {
						display: flex;
						gap: 30px;
					}
				}
			}
		}
	}
}

//MEDIA
@media (min-width: 576px) {
	.header {
		&__elements {

			.header__section__1__main {
				.header__section__1 {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.header-logo {
						justify-content: normal;
					}
	
					.header__nav {
						display: initial;

						.header-links-1 {
							display: none;
						}

						.header__account__1 {
							display: flex;
							gap: 30px;
						}
					}
				}
			}

			.header__section__2__main {
				padding: 18px 0;

				.header__section__2 {
					.header-links-2 {
						display: flex;
						justify-content: space-between;

						li a {
							position: relative;
							color: $gray-1;
							font-size: 20px;

							&::after {
								content: '';
								position: absolute;
								left: 0;
								right: 0;
								bottom: -3px;
								display: block;
								width: 0%;
								height: 2px;
								background: $gray-1;
								transition: $animation;
								margin: 0 auto;
							}

							&:hover {
								&::after {
									width: 100%;
								}
							}
						}
					}

					.header__account__2 {
						display: none;
					}
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	.header {
		&__elements {
			.header__section__1__main {
				padding: 30px 0;

				.header__section__1 {
					.header__nav {
						display: flex;
						align-items: center;
						gap: 60px;

						.header-links-1 {
							display: flex;
							gap: 60px;

							li a {
								color: $gray-1;
								font-size: 20px;
								position: relative;

								&::after {
									content: '';
									position: absolute;
									left: 0;
									right: 0;
									bottom: -3px;
									display: block;
									width: 0%;
									height: 2px;
									background: $gray-1;
									transition: $animation;
									margin: 0 auto;
								}
	
								&:hover {
									&::after {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}

			.header__section__2__main {
				display: none;
			}
		}
	}
}

