@import "./variables.scss";

.main {
	margin-top: 102px;
	padding: 50px 0;

	.main__elements {
		.main__text {
			.main-title {
				margin: 0;
				font-size: 30px;
				color: $gray-1;
				width: 216px;
				line-height: 100%;
			}

			.main-subtitle {
				margin-top: 15px;
				font-size: 14px;
				color: $gray-3;
				line-height: 150%;
			}

			.main__button__first {
				margin-top: 20px;
			
				.main-button {
					@extend %buttons;
				}
			}
		}

		.main-background {
			display: none;
		}
	}
}

// MEDIA
@media (min-width: 576px) {
	.main {
		padding: 0;
		overflow: hidden;

		.main__elements {
			display: flex;
			justify-content: space-between;
			gap: 30px;

			.main__text {
				margin: 60px 0;

				.main-title {
					font-size: 38px;
					width: 273px;
				}
	
				.main-subtitle {
					margin-top: 20px;
					font-size: 16px;
				}
	
				.main__button__first {
					.main-button {
						padding: 19px 60px;
					}
				}
			}

			.main-background {
				display: initial;
				height: 396px;
				
				img {
					width: 195px;
					object-position: 0 20px;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.main {
		.main__elements {
			.main__text {
				margin: 65px 0;

				.main-title {
					font-size: 50px;
					width: 359px;
				}

				.main-subtitle {
					font-size: 18px !important;
					margin-top: 30px !important;
				}

				.main__button__first {
					margin-top: 30px;
				
					.main-button {
						padding: 24px 90px;
					}
				}
			}
			
			.main-background {
				height: 410px;

				img {
					width: 270px;
					object-position: 0 60px;
				}
			}
		}
	}
}

@media (min-width: 1110px) {
	.main {
		margin-top: 86px;

		.main__elements {
			.main__text {
				margin: 130px 0;

				.main-title {
					font-size: 60px;
					width: 431px;
				}
			}

			.main-background {
				height: 560px;

				img {
					width: 510px;
					object-position: 0 60px;
				}
			}
		}
	}
}





