@import "./variables.scss";

.partners {
	padding: 55px 0 65px;
	overflow-x: hidden;
	background: $body-gray;

	&__container {
		.partners__elements {
			.partners__cards {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 30px;
				
				.partners-card {
					width: 150px;
					height: 80px;
					background: transparent;
					border: 1px solid $gray-5;
					display: flex;
					justify-content: center;
					align-items: center;
					transition: $animation;

					&:hover {
						background: $body-white;
					}
				}
			}
		}
	}
}

// MEDIA
@media (min-width: 576px) {
	.partners {
		padding: 60px 0;

		&__container {
			.partners__elements {
				.partners__cards {
					grid-template-columns: repeat(2, 1fr);

					.partners-card {
						width: 100%;
						height: 127px;

						&:nth-child(1) img {
							width: 185px;
						}

						&:nth-child(2) img {
							width: 175px;
						}

						&:nth-child(3) img {
							width: 211px;
						}

						&:nth-child(4) img {
							width: 197px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.partners {
		&__container {
			.partners__elements {
				.partners__cards {
					grid-template-columns: repeat(4, 1fr);

					.partners-card {
						height: 80px;

						&:nth-child(1) img,
						&:nth-child(2) img,
						&:nth-child(3) img,
						&:nth-child(4) img {
							width: auto;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1100px) {
	.partners {
		padding: 90px 0;
		
		&__container {
			.partners__elements {
				.partners__cards {
					.partners-card {
						width: 100%;
						height: 135px;

						&:nth-child(1) img {
							width: 197px;
						}

						&:nth-child(2) img {
							width: 186px;
						}

						&:nth-child(3) img {
							width: 225px;
						}

						&:nth-child(4) img {
							width: 209px;
						}
					}
				}
			}
		}
	}
}